*{
    margin:0;
    padding: 0;
}  

#head_min{
    font-size: 25px;
    margin: 20px 0 10px 20px;
    border-bottom: 2px solid #009fcf;
    color:#009fcf;
}

.main{
    width: 76%;
    height: 400px;
    padding:15px;
    border-radius:2em;    
    float: right;
    background-color:#3caed13b;
}
.p_msg{
    float: left;
    height: 400px;
    border-radius:2em; 
    width: 22%;
    padding:15px 15px 40px 15px;
    background-image: url("/static/shu_background.jpg");
} 
#w_p{
    color:white;
    font-size: 15px;
}
#toux{
    border-radius:2em;
    margin: 0 0 5px 0;
    padding: 5px;
    background-color: white;
}
.content{
    width: 1200px;
    margin:0 auto;
}
.header{
    margin: 10px 10px 0 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.header span{
    position: absolute;
    color:#009fcf;
    border-bottom:solid #009fcf;
    height:2px;
    width: 88%;
    bottom:3px;
    left:130px;
}
#head_min div{
    background-color: white;
    border-radius:8px;
    width:210px;
    text-align: center;
}
#c{
    z-index: -2;
    position:absolute;
    top:0;
    left: 0;
    height:450px;
    width:1400px;
}
.jumbotron h1{
    width:530px;
}
.board div{
    border-left: solid #009fcf;
    padding:0 0 0 3px;
    margin:2px 0
}
.aim div{
    border-left: solid #009fcf;
    padding:0 0 0 3px;
    margin:2px 0
}
.foot{
    width:100%;
    margin:30px 0 0 0;
    height: 60px;
    background-color: #009fcf;
    float: left;
}
.icp{
    color: #ffffff;
    margin: 20px 20px;
    float: right;
}
.logo{
    float: left;
}
.ef_logo{
    float: left;
    margin: 15px 0 0 10px;
}
.adv_l{
    margin: 10px 0 20px 0;
    padding: 12px;
    float: left;
    height: 200px;
    width: 76%;
    border-radius:2em;   
    background-color:#3caed13b;
}
.adv_r{
    margin: 10px 0 20px 0;
    width: 22%;
    height: 200px; 
    float: right;
}
.adv_r img{
    width:100%;
    border-radius:2px; 
}
.div_h{
    margin:2px 0;
    border-left: solid #009fcf;
    padding: 0 0 0 3px;
}