*{
    margin:0;
    padding: 0;
}  
body{
    background-color: #cde0e6;
} 
#head_min{
    font-size: 25px;
    margin: 20px 0 10px 20px;
    border-bottom: 1px solid #009fcf;
    color:#009fcf;
}

.main{
    width: 76%;
    height: 500px;
    padding:15px;
    border-radius:2em;    
    float: right;
    background-color:white;
}
.p_msg{
    float: left;
    border-radius:2em; 
    width: 22%;
    padding:15px 15px 40px 15px;
    background-image: url("../static/shu_background.jpg");
} 
#w_p{
    color:white;
    font-size: 15px;
}
#toux{
    border-radius:2em;
    margin: 0 0 5px 0;
    padding: 5px;
    background-color: white;
}
.content{
    width: 1200px;
    margin:0 auto;
}
.header{
    background-color: white;   
}