.btn {
    width: 100px;
    font-size: 18px;
    text-align: center;
    height: 44px;
    margin: 0 0 0 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#ans{
    font-size: 20px;
    color: #ff4500;
    width:100px;
}
.chose{
    display: block;
    width: 300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:20px 20px;
}