<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--标准开头-->
    <title>我的网页</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <head>
        <link rel="stylesheet"  href="/static/index.css">
    </head> 
    
</head>
<body>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/ybk">主页</a></li>
        <li role="presentation"><a href="/ybk/sjjg">数据结构</a></li>
        <li role="presentation"><a href="/ybk/lssx">离散数学</a></li>
    </ul>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>成功！</strong> 连接到服务器
    </div>
    <hr/>
    <h1 id="head_min">这里是服务器主页</h1>
    <p>小水管服务器，加载题目时出去喝口水吧</br>
        项目的github主页
        <a href="https://github.com/hblanx/learn_helper.git"target="_blank">点击传送</a>
    </p> 



</body>
<script rel="stylesheet" src="/static/jquery-3.5.1.min.js"></script>
<script rel="stylesheet" src="/static/bootstrap.min.js"></script>

</html>