<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--标准开头-->
    <title>学习记录</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/index.css">
    <!--a标签网址记得改-->
</head>
<body>
    <div class="header">
        <img class="logo" src="/static/hblx_logo.png">
           <ul class="nav nav-pills ef_logo">
        <li role="presentation" class="active"><a href="http://www.hblanx.club/">主页</a></li>
        <li role="presentation"><a href="/ybk">题库查询</a></li>
        <li role="presentation"><a href="/list">学习列表</a></li>
    </ul>
    <span></span> 
    </div>
    <div class="content">
        <div id="head_min">
            <div class="jumbotron">
                <h1>欢迎来到hblanx的个人网站</h1>
                <p>网址施工中</p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/hblanx/learn_helper" role="button" target="_blank">查看源码</a></p>
              </div>
        </div>
        <div class ="p_msg">
            <img id="toux" src="/static/hblanx.jpg"/>
            <p id="w_p">常用ID:hblanx<br>邮箱：1121lesale@gmail.com<br>职业：在校学生</p>
        </div>    
        <div class="main">
            <div class="board">
                <div>木板</div>
                <p>
                新建的<a href="/list">学习图书馆</a>里存放有我做过的作业记录</br>
                现在已经支持模糊搜题了，档次一下子就上来了</br>
                不过在题库里只有数据结构和离散数学两课的题目</br>
                域名备案完成</br>
                </p>
            </div>
            <div class="aim">
                <div>计划中</div>
                <p>
                暂时白嫖阿里云的服务器，但不久就要到期了</br>
                正在制作搜题APP</br>
                可能会做移动端的适配吧，不过更可能搞定Vue</br>
                </p>
            </div>   

        </div>
    </div>
    <div class="content">
            <div class="adv_r">
                <img src="/static/android_P.jpg"/>
            </div>
            <div class="adv_l">
                <div>最新支持安卓客户端</div>
                <p>先行测试客户端已经完成了基本的搜题功能
                </br>日后可能会增加各种小程序</p>
                <a href="www.hblanx.club/download?item=1">点击下载</a>
            </div>
    </div>
    <div class="foot">
        <a  class="icp" href="https://beian.miit.gov.cn/#/Integrated/index" target ="_blank">粤ICP备2020073818号</a>
    </div>
    <canvas id="c"></canvas>
</body>

<script rel="stylesheet" src="/static/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src='/static/TweenMax.min.js'></script>
<script type="text/javascript" src="/static/bg.js"></script>
<script rel="stylesheet" src="/static/bootstrap.min.js"></script>
</html>