<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习列表</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/learnList.css">
</head>
<body>
    <div class="header">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="http://www.hblanx.club/">主页</a></li>
        <li role="presentation"><a href="/ybk">题库查询</a></li>
        <li role="presentation" class="active"><a href="/list">学习列表</a></li>
    </ul>
    <span></span>
</div>
    <div class="bigHead">
        <h1>学习记录图书馆</h1>
        <p>记录下各个作业成果</p>
        <span></span>
    </div>
    <div class="content">
        
    </div>
</body>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
    $().ready(function(){
    loadFinish();
});
    function loadFinish(){
            //和后台做交互              
            var html = '';
            var postUrl="listmsg"

            $.ajax({
                url: postUrl,
                type: 'get',
                dataType: "JSON",
                success: function (data) {
                    res = data.data;
                    for (var i = 0; i <= res.length; i++) {
                        try {
                            html += `<h3>`+res[i].title+`<span></span></h3>
        <div class="msgBox">
            <img src="/static/`+res[i].pName+`"/>
            <div>
                <h4>`+res[i].secondTitle+`</h4>
                <p>`+res[i].msg+`</p>`
                if(res[i].baiDunYun!="none"){
                html +=`<div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      下载样本 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="`+res[i].baiDunYun+`" target ="_blank">百度云</a></li>
                      <li><a href="#">本地下载(暂时不可用)</a></li>
                    </ul>
                </div>`}
                html+=`</div>
        </div> ` 
                      }
                    catch (error) {
                    }$('.content').html(html)
                }}
            });
    }
        
</script>
</html>
