<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--标准开头-->
    <title>云班课题库查询</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/ti_lib.css">
</head>
<body>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/ybk">主页</a></li>
        <li role="presentation" class="active"><a href="/ybk/sjjg">云班课题库查询</a></li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-heading">这里是题库中心</div>
        <div class="panel-body">
          <p>选择你要查询的科目并点击查询</p>
        </div>
      <select class="chose">
          <option value="1">离散数学</option>
          <option value="2">数据结构</option>
      </select>
      <button class="btn">查询！</button>
    <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th>题目</th>
                    <th>选项</th>
                    <th>正确答案</th>
                </tr>
            </thead>
            <tbody class="sheet">

            </tbody>
        </table>
      </div>
</body>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
    $(function(){
        $('.btn').click(function(){
            console.log('点击')
            var lesson=$('.chose').val();
            //和后台做交互              
            var html = '';
            $.ajax({
                url: 'http://47.115.53.70:80/ybklibrary?lesson='+lesson,
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                type: 'get',

                success: function (data) {
                    res = data.data;
                    for (var i = 0; i <= res.length; i++) {
                        try {
                            html += `    <tr><td><p>
                      ` + res[i].question + `      </p></td>
                    <td><p>` + res[i].ans + `</p></td>>
                    <td><p id="ans">` + res[i].correct_ans + `    </p></td></tr>`}
                    catch (error) {
                    }$('.sheet').html(html)
                }}
            });
                
        })
    })
</script>
</html>