<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--标准开头-->
    <title>题库查询</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/ti_lib.css">
    <!--下面的a标签网址记得改-->
</head>
<body>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="http://www.hblanx.club/">主页</a></li>
        <li role="presentation" class="active"><a href="/ybk">题库查询</a></li>
        <li role="presentation"><a href="/list">学习列表</a></li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-heading">搜题题库</div>
        <div class="panel-body">
          <p>题目正在补充中，现已支持模糊搜索，搜索题目时尽量与原题一致</p>
        </div>
      <select class="chose">
          <option value="1">离散数学</option>
          <option value="2">数据结构</option>
      </select>
      <div class="tiInput">
        <textarea rows="3" cols="20" placeholder="请输入题目"></textarea>
    </div>   
      <button class="btn">查询</button>
    <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th>题目</th>
                    <th>选项</th>
                    <th>正确答案</th>
                </tr>
            </thead>
            <tbody class="sheet">

            </tbody>
        </table>
    </div>
</body>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
    $(function(){
        $('.btn').click(function(){
            var lesson=$('.chose').val();
            var ti=$('.tiInput textarea').val();
            //和后台做交互              
            var html = '';
            var postUrl="ybklibrary"
            var data=JSON.stringify({"lesson":lesson,"ti":ti})

            $.ajax({
                url: postUrl,
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                type: 'post',
                data:data,

                success: function (data) {
                    res = data.data;
                    console.log("run?")
                    console.log(res)
                    for (var i = 0; i <= res.length; i++) {
                        try {
                            html += `    <tr><td><p>
                      ` + res[i].question + `      </p></td>
                    <td><p>` + res[i].ans + `</p></td>>
                    <td><p id="ans">` + res[i].correct_ans + `    </p></td></tr>`}
                    catch (error) {
                    }$('.sheet').html(html)
                }}
            });
                
        })
    })
</script>
</html>